/* =============
    Footer
============= */

footer{
    
    color: var(--white);

    #footer-top{

        background-color: var(--black);
        padding: 100px 0;
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". footer-top-grid-item-area .";
        #footer-top-grid-item{
            grid-area: footer-top-grid-item-area;
            display: grid;
            grid-template-columns: 25.3% 10% 13.4% 26.8%;

            aside{

                p{
                    margin-top: 30px;
                    width: 288px;
                    font-size: rem-calc(16);
                }
    
                ul{
                    margin-top: 30px;
                    display: flex;
                    justify-content: flex-start;
    
                    li{
                        list-style: none;
                        font-size: rem-calc(18);
                        a{
                            text-decoration: none;
                            color: var(--gray);
                        }
                        margin-right: 25px;
                    }
    
                }
            }
    
            section{
        
                h1{
                    font-size: rem-calc(22);
                    margin-bottom: 30px;
                }
    
                a:link, a:visited{
                    color: var(--gray);
                    transition: 0.25s;
                    margin-bottom: 12px;
                }
                a:hover, a:active{
                    color: var(--blue);
                }
    
                form{
                    padding: 9px;
                    background-color: var(--black);
                    //for week 4
                    //display: inline-block;
                    display: flex;
                    border-radius: 5px;
                    input{
                        border: solid 1px var(--gray);
                        margin-right: auto;
                        background-color: var(--black)
                        width: 100%
                    }
                }
            }
        }
    }

    #footer-bottom{

        background-color: var(--black);
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". footer-bottom-grid-item-area .";
        #footer-bottom-grid-item{
            grid-area: footer-bottom-grid-item-area;
            p{
                text-align: center;
            }
        }
    }
}