/* =============
    Footer
============= */
#Footer{
    background-color: var(--black);

    h2{
        color: var(--white);
    }

    p{
        color: var(--white);
    }

    ul{
        li {
            color: var(--white);
        }
    }

    form{
        padding: 9px;
        background-color: var(--black);
        //for week 4
        display: inline-block;
        border-radius: 5px;
        input{
            border: none;
            background-color: var(--black)
            
        };
    }

}