/* =============
    Footer
============= */

footer{
    
    color: var(--white);

    #footer-top{

        background-color: var(--black);
        padding: 100px 0;
        display: flex;

        aside{

            p{
                margin-top: 30px;
                width: 288px;
                font-size: rem-calc(18);
            }

            ul{
                margin-top: 30px;
                display: flex;
                justify-content: flex-start;

                li{
                    list-style: none;
                    font-size: rem-calc(18);
                    a{
                        text-decoration: none;
                        color: var(--gray);
                    }
                    margin-right: 25px;
                }

            }
        }

        section{

            margin-left: 80px;
            h1{
                font-size: rem-calc(22);
            }
            .link-list{
                margin-top: 30px;
                li{
                    list-style: none;
                    font-size: rem-calc(18);
                    text-align: left;
                    a{
                        text-decoration: none;
                        color: var(--gray);
                    }
                }
            }

            p{
                font-size: reme-calc(18);
                margin-top: 30px;
            }
        }


        form{
            padding: 9px;
            background-color: var(--black);
            //for week 4
            display: inline-block;
            border-radius: 5px;
            input{
                border: solid 1px var(--gray);
                background-color: var(--black)
            }
        }
    }

    #footer-bottom{
        background-color: var(--black);
        margin-top: none;
        padding: 35px 0;
        text-align: center;
    }

}