/* =============
    Header
============= */

header{

    padding: 12px 24px;
    // adding border
    // border: solid red;
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-areas: 
    "logo burger"
    "nav nav";

    @include md{
        grid-template-columns: 80% auto;
    }

    @include lg{
        grid-template-columns: 20% auto 4%;
    }

    @include xl{
        grid-template-columns: 20% auto;
        grid-template-areas: 
        "logo nav";
        padding: 24px 48px;
    }

    #burger-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: burger;
        // adding border
        // border: 1px solid red;
        @include xl{
            display: none;
        }
    }

    #logo-container{
        display: flex;
        align-items: center;
        grid-area: logo;
        // adding border
        // border: 1px solid red;
    }

    nav{
        // adding border
        // border: 1px solid red;
        grid-area: nav;
    }

}