/* =============
    Navigation
============= */
a{
    text-decoration: none;
}

nav{
    ul{
        display: flex;
        justify-content: flex-end;

        li{
            list-style: none;
            margin-left: 40px;
            a:link, a:visited{
                color:white;
                font-size: rem-calc(18);
                font-weight: 400;
                transition: .25s;
            }

            a:hover, a:active{
                color: var(--blue);
            }

            a.selected{
                color: var(--blue);
                text-decoration: underline;
            }
        }

        #sign-in-button{
            margin-left: auto;
        }

    }
}