/* =============
    Base
============= */

body{

    // copied from professor's repo
    background: linear-gradient(130deg, #461096 0%, #7F3CE0 100%);
    main{
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". main-grid-area .";
        #main-grid-item{
            grid-area: main-grid-area;
        }
    }
}

#validation-logo{
    margin-top: 60px;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}